extends layout

block content
	.container
		.card
			.card-body
				.message-box#message-box

			.card-footer
				form(action="/", method="post")
					.form-group
						input#sender(type="text", name="sender", placeholder="Send Message").form-control